.menu{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style: none;
    background-color:rgb(0, 0, 0);
    position: relative;
    bottom: 10px;
    
}
.menu ul li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 5px;
    display: block;
    position: relative;
    left: 1140px;
   
}
#titulo{
    background-color:rgb(25, 57, 50);
    width: 250px;
    padding: 15px;
    font-size: 25px;
    border-radius: 40px;
    text-align: center;
    position: relative;
    top: 20px;
    left: 20px;
}
#titulo a{
    color: white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.bajada{
    padding: 30px;
    background-color: rgb(227, 216, 190);
    position: relative;
    bottom: 26px;
}
.menu ul li{
    display: inline-block;
    text-align: left;
}
.menu ul li a:hover{
    background: rgba(113, 111, 111, 0.221);
}

.intro{

    border-radius: 20px;
    background-color: rgb(25, 57, 50);
    margin: 0px 20px 0px 20px;
    position: relative;
    bottom: -50px;
    text-align: left;
    padding: 40px;
    font-size: 15px;
}
.intro a{
    color: white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.continentes_colores{
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    left: 1130px;
    top: 225px;
}
.colores{
    position: relative;
    left:1100px;
    bottom:440px;
}
#naranjo{
    height: 20px;
    width:20px;
    background-color: #fc8d62;
    margin: 5px;
}
#azul{
    height: 20px;
    width:20px; 
    background-color: #8da0cb;
    margin: 5px;
}
#verde_claro{
    height: 20px;
    width:20px;
    background-color: #a6d853;
    margin: 5px;
}
#rosado{
    height: 20px;
    width:20px;
    background-color: #e78ac2;
    margin: 5px;
}
#verde_oscuro{
    height: 20px;
    width:20px;
    background-color: #65c2a5;
    margin: 5px;
}
#leyenda_ejey{
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    top: 25px;
    left:20px;
}
#leyenda_ejex{
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    left: 820px;
    top: 470px
}